#searchBar{
    border: 1px solid #000000;
    
    font-size: 50pix;
    padding: 10px;
    outline: none;
    width: 215px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f1d529;
}
#searchBtn{
    border: 1px solid #000000;
    font-size: 16px;
    padding: 10px;
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

button{
    background: none;
    color: #ccc;
    width: 50px;
    height: 40px;
    border: 2px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    overflow: hidden;
    
    
}

.container1{
  padding:7px;
  border-top:none;
  width: 100%;
  position: absolute;
  bottom:10px;
  display: flex;
  text-align: center;
    height: 260px;
}

.container2{
  flex:1;
  font-size: 2vh;
  border-right: none;
}




 *{
    font-family: "Rimouski";
}

body{
    background-color: #FFF;
}

.container{
    width: 100%;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    height: 330px;
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.weather-container{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: #F4F9FF;
    border-radius: 50px;
}

.weather-icon{
    width: 300px;
    height: 150px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.temperature-value{
    width: 300px;
    height:30px;
    text-align: center;
    margin: 0 auto;
}

.temperature-value p{
    padding: 0;
    margin: 0 auto;
    color: #293251;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}
.dayc{
    text-align: center;
    margin: 0 auto;
}

.dayc p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.4em;
}


.location{
    
}

.location p{
    
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.5em;
}



